<a href="https://confluence.jetbrains.com/display/ALL/JetBrains+on+GitHub"><img src="https://jb.gg/badges/official.svg"></a>
<a href="https://bintray.com/kotlin/ktor/ktor/{{site.ktor_version}}"><img src="https://api.bintray.com/packages/kotlin/ktor/ktor/images/download.svg?version={{site.ktor_version}}"></a>
<a href="https://teamcity.jetbrains.com/viewType.html?buildTypeId=KotlinTools_Ktor_BuildGradle&branch_KotlinTools_Ktor=%3Cdefault%3E&tab=buildTypeStatusDiv"><img src="https://img.shields.io/teamcity/http/teamcity.jetbrains.com/s/KotlinTools_Ktor_BuildGradle.svg"></a>
<a href="http://www.apache.org/licenses/LICENSE-2.0"><img src="https://img.shields.io/github/license/ktorio/ktor.svg"></a>
<a href="https://github.com/ktorio/ktor"><img src="https://img.shields.io/github/stars/ktorio/ktor.svg?style=social&label=Star"></a>
