<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title"><span aria-hidden="true" class="icon icon_genius"></span> Showcase</h1>
            <div class="meta"><i class="fa fa-clock-o"></i> Last updated: Jan 25th, 2016</div>
        </div><!--//doc-header-->
        <div id="showcase" class="doc-body">
            <div class="doc-content">
                <div class="content-inner">
                    <section id="premium-themes" class="doc-section">
                        <div class="jumbotron">
                            <h1><i class="fa fa-twitter"></i> Themes built with Twitter Bootstrap</h1>
                            <p>You can use this page layout to showcase how other people are using your projects. Below is a list of UX-centred Bootstrap themes I made for developers.</p>
                            <a class="scrollto btn btn-blue btn-cta" href="#theme-start">Explore Now</a>
                        </div><!--//jumbotron-->
                        <h2 id="theme-start" class="section-title">Premium Themes</h2>
                        <div class="section-block">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-velocity.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Velocity</h4>
                                            <p class="card-text">Designed for Products</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-tempo.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Tempo</h4>
                                            <p class="card-text">Designed for Startups</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-devstudio.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">DevStudio</h4>
                                            <p class="card-text">Designed for Web Development Agencies</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-atom.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Atom</h4>
                                            <p class="card-text">Designed for App Startups</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-delta.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Delta</h4>
                                            <p class="card-text">Designed for Mobile Apps</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-builders-tradesmen-trades/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-trades.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Trades</h4>
                                            <p class="card-text">Designed for Builders</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-builders-tradesmen-trades/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-restaurants-epicure/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-epicure.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Epicure</h4>
                                            <p class="card-text">Designed for Restaurants</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-restaurants-epicure/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-wedding-invitation-template-matrimony/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-matrimony.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Matrimony</h4>
                                            <p class="card-text">Designed for Weddings</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-wedding-invitation-template-matrimony/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-for-bands-and-musicians-decibel/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-decibel.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Decibel</h4>
                                            <p class="card-text">Designed for Bands</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-for-bands-and-musicians-decibel/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-for-crowdfunding-campaigns-onboard/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-onboard.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Onboard</h4>
                                            <p class="card-text">Designed for Crowdfunding</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-template-for-crowdfunding-campaigns-onboard/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                
                            </div><!--//row-->
                        </div><!--//section-block-->
                    </section><!--//doc-section-->
                    
                    <section id="free-themes" class="doc-section">
                        <h2 class="section-title">Free Themes</h2>
                        <div class="section-block">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-developer.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">Developer</h4>
                                            <p class="card-text">Portfolio theme for developers</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                        <a href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank"><img class="img-responsive" src="assets/images/demo/theme-devaid.png" alt="screenshot" /></a>
                                        <div class="card-block">
                                            <h4 class="card-title">DevAid</h4>
                                            <p class="card-text">Project theme for developers</p>
                                        </div><!--//card-block-->
                                        <a class="mask" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank"><i class="icon fa fa-search-plus"></i></a>
                                    </div><!--//card-->
                                </div>
                            </div><!--//row-->
                        </div><!--//section-block-->
                    </section><!--//doc-section-->
                                                
                </div><!--//content-inner-->
            </div><!--//doc-content-->
            <div class="doc-sidebar">
                <nav id="doc-nav">
                    <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                        <li>
                            <a class="scrollto" href="#premium-themes">Premium Themes</a>
                        </li>
                        <li>
                            <a class="scrollto" href="#free-themes">Free Themes</a>
                        </li>
                    </ul><!--//doc-menu-->
                </nav>
            </div><!--//doc-sidebar-->
        </div><!--//doc-body-->              
    </div><!--//container-->
</div><!--//doc-wrapper-->