{% assign split_paths = include.paths | split: "," %}
<script type="text/javascript" src="{{ '/assets/plugins/github-embed/github-embed.min.js' | absolute_url }}"></script>
<div id="embed" style="height:800px;"></div>
<script>
    githubEmbed('#embed', {
        "owner": "ktorio",
        "repo": "ktor",
        "ref": "master",
        "embed": [
    {% for item in split_paths %}
    {% assign file_name = item | split: "/" | last %}
    {
                "type": "kt",
                "label": "{{file_name}}",
                "path": "{{item}}"
            }{% unless forloop.last %},{% endunless %}
    {% endfor %}

    ]
    });
</script>
