.styled-table {
    width: 100%;
}

.styled-table td, .styled-table th {
    padding: 0.6em 0.6em;
    border: 1px solid #8A40A7;
}

.styled-table td code {
    white-space: nowrap;
}

.styled-table th {
    background: #8A40A7;
    color: white;
}

code.highlighter-rouge {
    background: transparent !important;
    color: #4A40A7 !important;
    font-size: 90% !important;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
    padding: 2px 4px !important;
    /*border-radius: 4px !important;*/
    border-radius: 0 !important;
}

.note {
    background: #ecedfb;
    padding: 1.0em 1.8em;
    border-left: 4px solid #8944A5;
    color: #082d46;
}

.note:before {
    content: "NOTE";
    color: #c1a9d0;
    display: block;
    letter-spacing: 0.1em;
    margin-bottom: 0.6em;
    font-size: 0.9em;
}

.note.tip:before { content: "TIP"; }
.note.artifact:before { content: "ARTIFACT"; }
.note.api:before { content: "API"; }
.note.performance:before { content: "PERFORMANCE NOTE"; font-weight: bold; }

.compact {
    position: relative;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5em 0 1em 0;
    cursor: pointer;
}

.compact:after {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    height:40px;
    width:100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    visibility: visible;
}

.compact.expand {
    max-height: 2000px !important;
}

/* TRANSITION (performance impact) */
/*
.compact, .compact.expand { transition: max-height 0.5s; }
*/

.compact.expand:after {
    visibility: hidden;
}

pre.highlight {
    border-radius: 0;
    border: none;
    border-left: 4px solid #eee;
}

/* COLORS: */

.body-orange .note {
    border-color: orange;
}

