.github_edit_page {
    display: none;
}

#search-input, #search-form {
    display: none;
}

header#header {
    display: none;
}
footer.footer {
    display: none;
}

.estimated-read-time {
    display: none;
}

.compact {
    max-height: 2000px !important;
}

.category-list-list {
    display: none;
}

.doc-sidebar {
    display: none;
}

.doc-content {
    margin-left: 0;
}

.code-tabs {
    display: none;
}

.tab-content-title {
    display: block !important;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.5em;
    background: #eee;
    width: 100%;
    color: black;
    padding: 0.2em 0.7em;
}

.code-tabs-content .tab-pane {
    display: block;
}

.code-scroll {
    height: auto;
    max-height: inherit;
    min-height: auto;
    border: 1px solid #eee;
}