---
layout: default
---

<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <img src="assets/images/ktor_logo_white.svg" style="width:154px;height:64px;" alt="Ktor" />
            </h1>
        </div>
        <div class="tagline">
            <!--
                        <p>Framework for connected applications in <a href="https://kotlinlang.org/">Kotlin</a></p>
            -->
            <p>Easy to use, fun and asynchronous.</p>
        </div>
    </div>
</header>

<section class="cards-section" style="padding-bottom:0;">
    <div class="container">
        <div class="cards-wrapper row">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title">{{page.caption}}</h1>
            </div>
            <div class="doc-body">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<section class="cards-section text-center cards-gray">
    <div class="container">
        <div id="cards-wrapper" class="cards-wrapper row">
            {% for section in site.data.sections.sections %}
            <div class="item item-{{ section.color }} col-md-4 col-sm-6 col-xs-6">
                <div class="item-inner">
                    <div class="icon-holder">
                        <span aria-hidden="true" class="icon icon_{{ section.icon }}"></span>
                    </div><!--//icon-holder-->
                    <h3 class="title">{{ section.title }} </h3>
                    <p class="intro">{{ section.summary }}</p>
                    <a class="link" href="{{ section.url | prepend: site.baseurl }}"><span></span></a>
                </div>
            </div>
            {% endfor %}

            <a href="https://confluence.jetbrains.com/display/ALL/JetBrains+on+GitHub"><img src="{{ '/assets/logo/jb_official.svg' | relative_url }}" style="width:70px;height:20px;" alt="JB official" /></a>
            <a href="https://bintray.com/kotlin/ktor/ktor/{{site.ktor_version}}"><img src="{{ '/assets/logo/download_stable.svg' }}" style="width:104px;height:20px;" alt="Download {{ site.ktor_version }}" /></a>
            <a href="https://teamcity.jetbrains.com/viewType.html?buildTypeId=KotlinTools_Ktor_BuildGradle&branch_KotlinTools_Ktor=%3Cdefault%3E&tab=buildTypeStatusDiv"><img src="https://img.shields.io/teamcity/http/teamcity.jetbrains.com/s/KotlinTools_Ktor_BuildGradle.svg" alt="Build status" /></a>
            <a href="http://www.apache.org/licenses/LICENSE-2.0"><img src="{{ '/assets/logo/license.svg' | relative_url }}" style="width:120px;height:20px;" alt="license: Apache-2.0"></a>
            <a href="https://github.com/ktorio/ktor"><img src="https://img.shields.io/github/stars/ktorio/ktor.svg?style=social&label=Star" alt="Ktor at github"></a>

            <div class="note contact" style="margin-top: 32px;">
                Want to provide feedback, report bugs or ask questions?<br />
                Head over our #ktor <a href="http://slack.kotlinlang.org/" target="_blank" rel="noopener">Kotlin Slack</a> channel, and we will try to help you!<br/>
                You can also contribute by creating issues or pull requests in our <a href="https://github.com/ktorio/ktor">public GitHub repository</a>.
            </div>
        </div>
    </div>
</section>
