<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Ktor</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ "/assets/plugins/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ "/assets/plugins/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/elegant_font/css/style.css" | prepend: site.baseurl }}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="landing-page">

{% include fb-root.html %}

<div class="page-wrapper">
    {% include home/caption.html %}
    {% include home/text.html %}
    {% include home/cards.html %}

</div><!--//page-wrapper-->

{% include footer.html %}

<!-- Main Javascript -->
<script type="text/javascript" src="{{ "/assets/plugins/jquery-1.12.3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/lightbox/dist/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-match-height/jquery.matchHeight-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

</body>
{% include google_analytics.html %}
</html>

