---
layout: default
---
<div class="post-header">
{% if page.logo == true %}
    <p>
    <img src="https://github.com/Kotlin/ktor/wiki/resources/ktor.png" alt="Ktor" style="width:600px; max-width:100%;"/>
    </p>
    <p>
    <a href="https://bintray.com/kotlin/ktor/ktor/_latestVersion"><img src="https://api.bintray.com/packages/kotlin/ktor/ktor/images/download.svg"></a>
    <a href="https://teamcity.jetbrains.com/viewType.html?buildTypeId=KotlinTools_Ktor_Build&branch_KotlinTools_Ktor=%3Cdefault%3E&tab=buildTypeStatusDiv"><img src="https://img.shields.io/teamcity/http/teamcity.jetbrains.com/s/KotlinTools_Ktor_Build.svg"></a>
    <a href="http://www.apache.org/licenses/LICENSE-2.0"><img src="https://img.shields.io/badge/license-Apache%20License%202.0-blue.svg?style=flat"></a>
    <iframe id="starFrame" class="githubStar"
            src="https://ghbtns.com/github-btn.html?user=kotlin&amp;repo=ktor&amp;type=star&amp;count=true&amp;"
            frameborder="0" scrolling="0" width="95px" height="20px">
    </iframe>
    </p>
{% else %}
<h1 class="post-title-main">{{ page.title }}
   {% if site.github_editme_path %}
   <a target="_blank" class="gh-btn" href="https://github.com/{{site.github_editme_path}}{% unless page.url contains " index.html" %}pages/{% endunless %}{{page.folder}}{{page.url | remove: ".html" | append: ".md"}}" role="button">
   <i class="fa fa-github"></i> Edit</a>
   {% endif %}
</h1>
{% endif %}
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}


  {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
