---
layout: blogbase
---

<div class="blog-post">
    <a href="{{ '/blog' | relative_url }}"><i class="fas fa-chevron-left"></i> List of posts</a>

    <img src="{{ page.image | relative_url }}" style="width:100%;height:auto;"/>
    <h2 class="blog-post-title">{{ page.title }}</h2>
    <p class="blog-post-meta">{{ page.date| date_to_long_string }}</p>

    {{ content }}

    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: left;padding:0;">
                {% if page.previous.url %}
                <a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
                {% endif %}
            </div>
            <div class="col" style="text-align: right;padding:0;">
                {% if page.next.url %}
                <a href="{{ page.next.url }}"> {{ page.next.title }} →</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
